<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<style>
    .container{
    margin-top:30px;
    margin-left:320px;
    }

h1{
 text-align:center;
 color:#ff0000;}

.btn{
width:100%;
}
.registerbody{
background-color:#FCFFDB;
padding-left:20px;
padding-right:20px;
padding-top:20px;
padding-bottom:20px;}

</style>
<body>
<div class="container">
    <div class="col-6">

        <div class="registerbody">
                <h1>Registration</h1>

                <form action="" method="post">

                    {%csrf_token%}
                    {{form.as_p}}
                    <input type="submit" value="submit" class="btn btn-primary">

                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>